---
http_interactions:
- request:
    method: get
    uri: http://api.yelp.com/v2/search?category_filter=restaurants&limit=20&ll=45.50462,-122.654206
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="sKgpMGby6lH90jtyNkvYb0De5o0H2ltYxjKBV5aA",
        oauth_signature="Ks03tH%2BLM%2F9eraMpQAlnMfXHukM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1393703617", oauth_token="<TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Node:
      - web64-r1-sfo1, api_com
      Content-Type:
      - application/json; charset=UTF-8
      X-Mode:
      - rw
      X-Proxied:
      - lb1
    body:
      encoding: US-ASCII
      string: ! '{"region": {"span": {"latitude_delta": 0.015686549999998078, "longitude_delta":
        0.014784506732581804}, "center": {"latitude": 45.505246749999998, "longitude":
        -122.65154823033299}}, "total": 205, "businesses": [{"is_claimed": false,
        "distance": 49.83574414722581, "mobile_url": "http://m.yelp.com/biz/ford-food-and-drink-portland",
        "rating_img_url": "http://s3-media4.ak.yelpcdn.com/assets/2/www/img/c2f3dd9799a5/ico/stars/v1/stars_4.png",
        "review_count": 64, "name": "Ford Food and Drink", "snippet_image_url": "http://s3-media1.ak.yelpcdn.com/photo/3OvSnTfe5k-NO46Wpo9egA/ms.jpg",
        "rating": 4.0, "url": "http://www.yelp.com/biz/ford-food-and-drink-portland",
        "location": {"city": "Portland", "display_address": ["SE 11th \u0026 SE Division",
        "Hosford-Abernathy", "Portland, OR 97202"], "neighborhoods": ["Hosford-Abernathy",
        "Southeast Portland", "Central Eastside"], "postal_code": "97202", "country_code":
        "US", "address": ["SE 11th \u0026 SE Division"], "state_code": "OR"}, "phone":
        "5032363023", "snippet_text": "Breakfast Feb 20\nWould like to give this a
        3.5 Star Rating\nWhat I loved:  Egg in a Frame, homemade wheat bread used
        in Egg in a Frame was incredible (Yes...", "image_url": "http://s3-media4.ak.yelpcdn.com/bphoto/4KVJ0oipdS8D136HkO2YMA/ms.jpg",
        "categories": [["Diners", "diners"], ["Coffee \u0026 Tea", "coffee"]], "display_phone":
        "+1-503-236-3023", "rating_img_url_large": "http://s3-media2.ak.yelpcdn.com/assets/2/www/img/ccf2b76faa2c/ico/stars/v1/stars_large_4.png",
        "id": "ford-food-and-drink-portland", "is_closed": false, "rating_img_url_small":
        "http://s3-media4.ak.yelpcdn.com/assets/2/www/img/f62a5be2f902/ico/stars/v1/stars_small_4.png"},
        {"is_claimed": true, "distance": 112.57057715414743, "mobile_url": "http://m.yelp.com/biz/portobello-vegan-trattoria-portland",
        "rating_img_url": "http://s3-media4.ak.yelpcdn.com/assets/2/www/img/c2f3dd9799a5/ico/stars/v1/stars_4.png",
        "review_count": 319, "name": "Portobello Vegan Trattoria", "snippet_image_url":
        "http://s3-media2.ak.yelpcdn.com/photo/VnPwflkaqeGd5nQVHpyP3Q/ms.jpg", "rating":
        4.0, "url": "http://www.yelp.com/biz/portobello-vegan-trattoria-portland",
        "location": {"city": "Portland", "display_address": ["1125 SE Division St",
        "Hosford-Abernathy", "Portland, OR 97202"], "neighborhoods": ["Hosford-Abernathy",
        "Southeast Portland", "Central Eastside"], "postal_code": "97202", "country_code":
        "US", "address": ["1125 SE Division St"], "state_code": "OR"}, "menu_date_updated":
        1387661091, "phone": "5037545993", "snippet_text": "This place made me like
        mushrooms. MUSHROOMS. I hate mushrooms, I think they taste like dolphin flesh.
        And yet, Portobello had me going back for more. That...", "image_url": "http://s3-media2.ak.yelpcdn.com/bphoto/_yCSRqLhzdAaaCHeaToiyQ/ms.jpg",
        "categories": [["Italian", "italian"], ["Vegan", "vegan"]], "display_phone":
        "+1-503-754-5993", "rating_img_url_large": "http://s3-media2.ak.yelpcdn.com/assets/2/www/img/ccf2b76faa2c/ico/stars/v1/stars_large_4.png",
        "menu_provider": "single_platform", "id": "portobello-vegan-trattoria-portland",
        "is_closed": false, "rating_img_url_small": "http://s3-media4.ak.yelpcdn.com/assets/2/www/img/f62a5be2f902/ico/stars/v1/stars_small_4.png"},
        {"is_claimed": true, "distance": 114.22726518845711, "mobile_url": "http://m.yelp.com/biz/double-dragon-portland-2",
        "rating_img_url": "http://s3-media4.ak.yelpcdn.com/assets/2/www/img/c2f3dd9799a5/ico/stars/v1/stars_4.png",
        "review_count": 139, "name": "Double [...]
